fastapi
uvicorn
google-cloud-bigquery
google-cloud-storage
google-auth
aiohttp
asyncio
pytest
pytest-asyncio
google-cloud-documentai
pydantic
PowerPlatform-Dataverse-Client
azure-identity
sqlmodel
pydantic-settings
mistralai
requests
azure-storage-blob
azure-storage-file-datalake
PowerPlatform-Dataverse-Client
pytest
PowerPlatform-Dataverse-Client[async]